<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <img
      src="templates/logo_livbrary.png"
      style="width: 60px; height: 60px"
      alt="logo.png"
    />
    <h2>Hi, {{user}}</h2>
    <span>
      We missed you today!!
      <h5>
        Kindly log in today to continue your streak.
        <br />
        Remember to finish reading as books will expire after 1 week.
      </h5>

      <br /><br />

      <h4>
        Thank you <br />
        LivBrary
      </h4>
    </span>
  </body>
</html>
